<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}-LochRides</title>
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap5/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap5/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
<header class="p-3 text-bg-dark border-bottom mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'image/logo2.png' %}" alt="" height="40">
            </a>
        
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-light"> home</a></li>
                <li><a href="/" class="nav-link px-2 text-light"> features</a></li>
                <li><a href="/" class="nav-link px-2 text-light"> pricing</a></li>
                <li><a href="/" class="nav-link px-2 text-light"> FAQs</a></li>
                <li><a href="/" class="nav-link px-2 text-light"> About</a></li>
            </ul>
            <div class="text-end">
                <a href="{% url 'team_project:login' %}" type="button" class="btn btn-outline-success me-2">登录</a>
                <a href="{% url 'team_project:register' %}" type="button" class="btn btn-success">注册</a>
            </div>

        </div>
    </div>
</header>
<main>
    {% block main %}{% endblock %}
</main>
</body>
</html>